.sidebar {
}

.sidebar.open {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
}

.background {

}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
}
.close {
    display: none;
}

.close img {
}
.preJunior {
    color: #0066cc;

}
junior {
    color: black;
    text-decoration: none;
}
juniorPlus {
    color: black;
    text-decoration: none;
}