
.tech {
    width: 300px;

}

.developer {

}

.techHeader {
    width: 300px;
}

.developerHeader {

}

.row {
    display: flex;
    justify-content: flex-start;

}

.rowHeader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;

}

.loading {

}
